body {
  max-width: 420px;
  margin: 0 auto;
  font-family: "Rubik", sans-serif;
}
h1,
h2,
h3,
p {
  margin: 0;
}

.app-header {
  display: flex;
  justify-content: space-between;
  padding: 14px 0;
}
.app-header .app-logo {
  padding-left: 30px;
  width: 160px;
}
.app-header .burger {
  width: 20px;
  padding: 10px 21px;
  cursor: pointer;
}

.hero {
  position: relative;
  overflow: hidden;
}
.hero img {
  width: 100%;
}
.hero .bg-inside {
  background-color: #4097db;
  transform: translateY(34px);
  position: relative;
  z-index: 2;
  color: white;
  padding: 0 40px 74px;
}
.hero .bg-inside .title {
  color: white;
  font-size: 36px;
  font-weight: 500;
  line-height: 34px;
  margin-bottom: 16px;
}
.hero .bg-inside .desc {
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.16px;
}
.hero .clip-inside {
  background-color: #53a7e9;
  height: 105px;
  width: 1000px;
  rotate: -14deg;
  transform: translate(-50px, -78px);
  position: absolute;
  top: 234px;
}
.hero .clip-outside {
  background-color: #4097db;
  width: 1000px;
  height: 200px;
  position: absolute;
  z-index: 1;
  top: 289px;
  rotate: 12deg;
  transform: translate(-32px, 0px);
}

.question {
  position: relative;
  padding: 48px 40px;
  scroll-behavior: smooth;
}
.question .scroll-down {
  position: absolute;
  top: -20px;
  z-index: 2;
  width: 40px;
  transform: translateX(-50%);
  left: 50%;
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
}
.question .question-slider {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
.question .wrap {
  min-width: 100%;
  scroll-snap-align: start;
}
.question .wrap h1 {
  color: #029fe4;
  font-size: 36px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 12px;
}
.question .wrap .short {
  font-size: 18px;
  font-weight: 400;
  line-height: 38px;
}

.question .wrap .long {
  color: #777;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.14px;
  min-height: 196px;
  text-wrap: balance;
}
.question .nav p {
  color: #303030;
  font-size: 24px;
  font-weight: 500;
  line-height: 38px;
}
.question .nav span:first-child {
  color: #c0c0c0;
  font-size: 24px;
}
.question .nav {
  display: flex;
  justify-content: space-between;
}
.question .nav span {
  color: #c0c0c0;
  font-size: 16px;
}
.question .nav .arrow {
  display: flex;
  height: 47px;
}
.question .nav .arrow-left,
.question .nav .arrow-right {
  width: 52px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #f8f8f8;
}
.question .nav .arrow-right {
  background-color: #1ba0e1;
}

.core-values {
  background-color: #f8f8f8;
}
.core-values h1 {
  color: #029fe4;
  font-size: 36px;
  font-weight: 500;
  line-height: 30px;
  padding-top: 56px;
  text-align: center;
}
.core-values .desc {
  color: #777;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
  margin-top: 24px;
  padding: 0 25px;
}
.core-values .list {
  display: flex;
  flex-direction: column;
  margin-top: 34px;
  padding: 0 15px;
  gap: 24px;
}
.core-values .content {
  display: flex;
  gap: 18px;
}
.core-values .content .line {
  height: 2px;
  background-color: #747474;
  width: 26px;
  margin-top: 20px;
}
.core-values .content h2 {
  font-size: 24px;
  line-height: 38px;
  margin-bottom: 6px;
  font-weight: 400;
}
.core-values .content p {
  color: #777;
  font-size: 16px;
  line-height: 24px;
}
.core-values img {
  width: 100%;
  margin-top: 28px;
}

.speciality {
  background-color: #509fdd;
  padding: 35px 20px 47px;
}
.speciality .content {
  background-color: white;
  padding-top: 42px;
}
.speciality .content h1 {
  color: #029fe4;
  font-size: 24px;
  font-weight: 700;
  height: 40px;
  margin: 0 27px 3px 33px;
}
.speciality .content p.desc1 {
  color: #303030;
  font-size: 14px;
  font-weight: 300;
  margin: 0 27px 0 33px;
}
.speciality .content .img-slider {
  display: flex;
  align-items: center;
  margin-top: 28px;
  position: relative;
  width: 100%;
  max-width: 800px;
  height: 180px;
  overflow: hidden;
}
.speciality .content .img-slider .slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
  position: absolute;
  transition: all 0.5s;
}
.speciality .content .img-slider p {
  white-space: nowrap;
  margin-top: 12px;
  font-weight: 500;
}
.speciality .content p.desc2 {
  color: #a7a7a7;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  padding: 0 28px;
  margin-top: 38px;
}
.speciality .content .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 28px 55px;
}
.speciality .content .nav img {
  cursor: pointer;
}
.speciality .content .nav .dot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.speciality .content .nav .dot span {
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background: #daf3fc;
}
.speciality .content .nav .dot span.active {
  border: 2px solid #3d46a2;
  background-color: white;
}

footer {
  background: url("./bg-footer.png");
  background-size: cover;
  padding: 34px 27px;
}
footer .logo {
  width: 228px;
}
footer .address {
  background-color: white;
  padding: 26px 27px;
  margin-top: 30px;
}
footer .address button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 18px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  color: #00537c;
  font-size: 14px;
  font-weight: 700;
}
footer .address p {
  width: 200px;
  color: #25a0d8;
  font-size: 18px;
  letter-spacing: 0.36px;
  margin-top: 40px;
}
footer ul {
  list-style-type: none;
  margin: 0px;
  padding: 0;
  margin-top: 30px;
}
footer ul li {
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 48px;
}
